html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.container__menu {
    position: absolute;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vh;
    height: 50vh;
    background-color: var(--main-color);
    border-radius: .5vh;
    overflow: hidden;
}

.grid {
    position: relative;
    display: grid;
    gap: 2% 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.6fr 1.5fr;
    width: 100%;
    height: 100%;
}


.section__name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 4;
}

.section__achivements {
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
}

.section__friends {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 2 / 3 / 3;
}

.section__progression {
    position: relative;
    grid-area: 2 / 3 / 3 / 4;
}

.section__trophies {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 3 / 1 / 4 / 4;
}


/* username section */

.user_section {
    width: 100%;
    height: 9vh;
    bottom: 0;
    overflow: visible;
    position: absolute;
}

.title__menu {
    position: absolute;
    font-size: 2.2vh;
    color: white;
    left: 2vh;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 0.3vh var(--main-color);
    font-weight: 600;
    z-index: 22;
}

.container_logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    right: 0;
}

#logo_user {
    position: relative;
    height: 4vh;
    margin-right: 1.5vh;
    border-radius: 50%;
    overflow: hidden;
}

#logo_user img {
    width: 100%;
    height: 100%;
}

.username__text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vh;
    height: 100%;
    font-size: 1.5vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 0.3vh var(--main-color);
    font-weight: 600;
    z-index: 22;
}

/* Archivements Section */

.container__style {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
    background-color: var(--sub-card-color);
    backdrop-filter: blur(0.5vh);
    overflow: hidden;
}

.archivements {
    position: absolute;
    background-image: url("https://i.imgur.com/EVQD7JJ.png");
    background-size: cover;
    background-position: center;
    width: 95%;
    right: 0;
}


.row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    border-radius: 0.5vh;
    overflow: hidden;
}

.icon__style {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: 1.5px solid rgb(255, 255, 255, 0.1);
    border-radius: .5vh;
    padding: .5vh;
    margin: 1vh;
    color: var(--silver-color-two);
}

.title__style {
    color: var(--silver-color-two);
}

.value__style {
    position: relative;
    /* margin: 1vh; */
    margin-left: 2vh;
    font-size: 2.2vw;
    color: var(--silver-color-two);
}

.progression {
    position: absolute;
    background-image: url("https://i.imgur.com/LgEdEgY.png");
    background-size: cover;
    background-position: center;
    width: 95%;
    left: 0;
}

.row__badges {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
}


.badges {
    position: absolute;
    /* background-color:rgb(255, 0, 55); */
    background-image: url("https://i.imgur.com/U4BCue9.png");
    background-size: cover;
    background-position: center;
}

.badges__icons img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vh;
    height: 3vh;
    margin: 1vh;
}

.text__style {
    text-shadow: 0 0 0.3vh var(--main-color);
}

.trophies {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    margin: 1vh;
    border-radius: 0.5vh;
    background-color: var(--slide-background);
    backdrop-filter: blur(0.5vh);
    overflow: hidden;
}

.slider_trophies {
    position: absolute;
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
}

#no-items {
    display: none;
    font-family: 'Montserrat';
    font-weight: 500;
    z-index: 22;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sub-card-color);
    border-radius: .3vh;
    width: calc(100% - 2vh);
    height: 4vh;
    margin: 1vh;
    overflow: hidden;
}

.row__card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.position__style {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    height: 100%;
    font-size: 1.5vh;
    color: var(--silver-color-two);
}

.badge__row {
    width: 7%;
}

.badge__card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge__card img {
    width: 2.5vh;
    height: 2.5vh;
}

.badgeSubTitle {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    font-family: 'Montserrat';
    font-size: 1.25vh;
    color: silver;
    font-weight: 100;
    width: calc(100% - 7% - 15% - 20%);
}

.badgeTitle {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Montserrat';
    font-weight: 400;
    width: 20%;
}

.percentage {
    width: 15%;
    text-align: center;
    font-size: 1.2vh;
    color: gray;
    font-family: 'Montserrat';
    font-weight: 400;

}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff48;
    transition: all 1s;
    border-radius: .5vh;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}